.collection-box {
  background-image: url(../../img/collection/elements.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 325px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
 .collection-box {
    background-image: url(../../img/collection/elements.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 320px;
  }
}

@media screen and (min-width: 768px) {
  .collection-box {
    background-image: url(../../img/collection/elements-tablet.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 185px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .collection-box {
    background-image: url(../../img/collection/elements-tablet.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 220px;
  }
}

@media screen and (min-width: 1280px) {
  .collection-box {
    background-image: url(../../img/collection/elements-1280.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 200px;
  }
}


@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .collection-box {
    background-image: url(../../img/collection/elements-1280.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .collection-box {
    background-image: url(../../img/collection/elements-1440.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 285px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px)  {
  .collection-box {
    background-image: url(../../img/collection/elements-1440.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 289px;
  }
}

.collection-title {
  margin-bottom: 40px;
  text-align: center;
  color: #FCF9F9;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.collection-menu {
  list-style-type: none;
  display: flex;
  gap: 18px;
  margin: 0 auto;
  max-width: 335px;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 18px;
  margin: 0 auto;
  max-width: 100%;
  justify-content: space-between;
}

.collection-item {
  position: relative;
}

.collection-img {
  border-radius: 4px;
}

.collection-projekt-text {
  padding-top: 18px;
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.collection-text {  
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FCF9F9;
  width: 335px;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.0;
  letter-spacing: 0.05em;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  text-transform: uppercase;  
}

@media screen and (min-width: 768px) {
  .collection-text {
   font-size: 18px;
  }
}

@media screen and (max-width: 1440px) {
  .collection-text {
    overflow: hidden;
  }
}

.collection-price {
  color: rgba(252, 249, 249, 0.40);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0;
  letter-spacing: 0.05em;
}