.header {
  padding-top: 27px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .social-list-icon {
    transition: fill 300ms ease-out;
  }

  .social-list-link:hover .social-list-icon,
  .social-list-link:focus .social-list-icon {
    fill: var(--accent-color);
  }

  .menu,
  .contact-list {
    display: none;
  }

  .social-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    margin-right: 12px;
    margin-left: auto;
  }

  .social-list-item {
    width: 44px;
    height: 44px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    background-color: rgba(252, 249, 249, 0.1);
  }

  .social-list-item:hover,
  .social-list-item:focus {
    border-color: var(--accent-color);
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: border-color 300ms ease-out;
  }

  .social-icon {
    fill: var(--prymary-color);
    opacity: 0.8;
  }

  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    stroke: var(--accent-color);
  }

  .open-mobile-menu-btn:hover,
  .open-mobile-menu-btn:focus {
    stroke: var(--prymary-color);
  }

  .open-mobile-menu-icon {
    transition: stroke 300ms ease-out;
  }
}

@media screen and (min-width: 1280px) {
  .open-mobile-menu-btn {
    display: none;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 710px;
  }

  .logotype {
    margin-right: 60px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .menu-item {
    margin-left: auto;
  }

  .menu-link {
    color: var(--prymary-color);
    font-family: var(--prymary-font);
    font-size: 14px;
    font-style: normal;
    line-height: 1.28;
    text-transform: uppercase;
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    color: var(--accent-color);
  }

  .contact-list-link {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border-color 300ms ease-out;
  }

  .contact-list-link:hover,
  .contact-list-link:focus,
  .contact-list-link:active {
    border-color: var(--accent-color);
  }

  .contact-list-link {
    color: var(--prymary-color);
    font-family: var(--prymary-font);
    font-size: 14px;
    font-style: normal;
    line-height: 1.43;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1440px) {
  .page-navigation {
    max-width: 860px;
  }
}
