.testimonials-icon-box {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.testimonials-icon {
  margin-top: -24px;
  border-radius: 64px;
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
}
.testimonials-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.testimonials-list-item-tittle {
  color: #fcf9f9;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .testimonials-display {
    display: none;
  }
  .testimonials-display-second {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .testimonials-section {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 335px;
  }
  .testimonials-container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 64px;
  }
  .testimonials-tittle {
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.03em;
  }

  .testimonials-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.1);
  }

  .testimonials-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 335px;
    gap: 20px;
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 18px;
  }

  .testimonials-list-item-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 291px;
  }
}

@media (min-width: 768px) {
  .testimonials-tittle {
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: -0.03em;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .testimonials-display-second {
    display: none;
  }
  .testimonials-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .testimonials-container {
    width: 704px;
  }
  .testimonials-list {
    list-style: none;
    margin-top: 64px;
    display: flex;
    gap: 32px;
  }
  .testimonials-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 336px;
    gap: 14px;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 18px;
  }

  .testimonials-list-item-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .testimonials-list-item-text-fixed {
    height: 176px;
  }
  .testimonials-box {
    width: 300px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .testimonials-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .testimonials-container {
    width: 1080px;
  }
  .testimonials-list {
    list-style: none;
    margin-top: 64px;
    display: flex;
    gap: 26px;
  }
  .testimonials-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 343px;
    gap: 14px;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 18px;
  }
  .testimonials-list-item-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .testimonials-list-item-text-fixed {
    height: 175px;
    width: 307px;
  }
}
@media (min-width: 1440px) {
  .testimonials-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .testimonials-container {
    width: 1240px;
  }
  .testimonials-list {
    list-style: none;
    margin-top: 64px;
    display: flex;
    gap: 26px;
  }
  .testimonials-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 396px;
    gap: 14px;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 18px;
  }
  .testimonials-list-item-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 176px;
  }
}
