<!-- OUR COLLECTION -->

 
  <section class="collection section">
    <div class="container">
      <h2 class="collection-title">Our Collection</h2>
      <ul class="collection-menu">
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./img/shirt1.jpg" srcset="./img/shirt1.jpg 1x, ./img/shirt1@2x.jpg 2x"
            width="400" height="430" alt="August Poltava women's blousering">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
                          Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">August Poltava women's blousering</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./img/shirt2.jpg" srcset="./img/shirt2.jpg 1x, ./img/shirt2@2x.jpg 2x"
            width="400" height="430" alt="Women's blouse Gorgany">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Women's blouse Gorgany</h3>
            <p class="collection-price">3350 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./img/shirt3.jpg" srcset="./img/shirt3.jpg 1x, ./img/shirt3@2x.jpg 2x"
            width="400" height="430" alt="Women's blouse Crimea">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Women's blouse Crimea</h3>
            <p class="collection-price">4000 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./img/shirt4.jpg" srcset="./img/shirt4.jpg 1x, ./img/shirt4@2x.jpg 2x"
            width="400" height="430" alt="Men's shirt Verkhovina">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Men's shirt Verkhovina</h3>
            <p class="collection-price">3100 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./img/shirt5.jpg" srcset="./img/shirt5.jpg 1x, ./img/shirt5@2x.jpg 2x"
            width="400" height="430" alt="Women's blouse Crimea">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./img/shirt6.jpg" srcset="./img/shirt6.jpg 1x, ./img/shirt6@2x.jpg 2x"
            width="400" height="430" alt="Men's shirt Yasen">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
                       Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Men's shirt Yasen</h3>
            <p class="collection-price">1700 UAH</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

