<!-- OUR COLLECTION -->

 
  <section class="section-collection section">
    <div class="container">
      <h2 class="collection-title">Our Collection</h2>
      <ul class="collection-menu">
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./images/shirt1-mobile.jpg"
            srcset="./images/shirt1-mobile 1x, ./images/shirt1-mobile@2x 2x" width="335" height="400"
            alt="women's blousering">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
                Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">August Poltava women's blousering</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./images/shirt2-mobile.jpg"
            srcset="./images/shirt2-mobile 1x, ./images/shirt2-mobile@2x 2x" width="335" height="430"
            alt="Women's blouse Gorgany">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
              Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Women's blouse Gorgany</h3>
            <p class="collection-price">3350 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./images/shirt3-mobile.jpg"
            srcset="./images/shirt3-mobile 1x, ./images/shirt3-mobile@2x 2x" width="335" height="430"
            alt="Mountain men's shirt">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
              Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./images/shirt4-mobile.jpg"
            srcset="./images/shirt4-mobile 1x, ./images/shirt4-mobile@2x 2x" width="335" height="430"
            alt="Men's shirt Yasen">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
              Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Men's shirt Yasen</h3>
            <p class="collection-price">1700 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./images/shirt5-mobile.jpg"
            srcset="./images/shirt5-mobile 1x, ./images/shirt5-mobile@2x 2x" width="335" height="430"
            alt="Women's blouse Crimea">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
              Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Women's blouse Crimea</h3>
            <p class="collection-price">4000 UAH</p>
          </div>
        </li>
  
        <li class="collection-item">
          <!-- <div class="overlay-box"> -->
          <img class="collection-image" src="./images/shirt5-mobile.jpg"
            srcset="./images/shirt5-mobile 1x, ./images/shirt5-mobile@2x 2x" width="335" height="430"
            alt="Men's shirt Verkhovina">
          <!-- <p class="overlay">14 Stylish and User-Friendly App Design Concepts · Task
             Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p> -->
          <!-- </div> -->
          <div class="collection-projekt-text">
            <h3 class="collection-project">Men's shirt Verkhovina</h3>
            <p class="collection-price">3100 UAH</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

