<!-- HERO -->
<section class="hero section">
  <div class="container hero-container">
    <div class="hero-title-button">
      <h1 class="hero-title">Reviving the traditional <span class="hero-accent">Ukrainian</span> artistry in every stitch.
      </h1>
      <a href="#order">
        <button class="hero-button" type="button">ORDER
          <svg class="hero-arrow-icon" width="26" height="10" aria-label="order arrow">
            <use href="../img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </a>
    </div>
    <div class="hero-container-position">
      <div class="hero-img-div">
        <img class="hero-img" srcset="../img/hero/mobile/girl-mobile.jpg 335w,
            ../img/hero/mobile/girl-mobile@2x.jpg 670w,
            ../img/hero/tablet/girl-tablet.jpg 413w,
            ../img/hero/tablet/girl-tablet@2x.jpg 826w,
            ../img/hero/desktop-1280/girl-desktop.jpg 392w,
            ../img/hero/desktop-1280/girl-desktop@2x.jpg 784w"
          sizes="(min-width: 1158px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
          src="../img/hero/mobile/girl-mobile.jpg" alt="a girl in a vyshyvanka " />
      </div>
      <!-- Map of Ukraine + ellipse -->
      <div class="hero-img-group">
        <img class="hero-map-group" src="../img/hero/tablet/Group.png" alt="Ukraine map" width="157px" height="191px">
      </div>
    </div>
    <!-- Star + text -->
    <div class="header-star-container">
      <svg class="header-icon-star" width="52" height="51" aria-label="icon star">
        <use href="../img/sprite.svg#icon-star"></use>
      </svg>
      <p class="header-icon-text">
        all embroidery is made by hand
      </p>
    </div>
  </div>
</section>
