<!-- MOBILE MENU -->

<div class="backdrop is-hidden" data-modal>
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <!-- Header mobile menu -->
    <div class="mobile-menu-top">
      <a class="mobile-menu-phone-link link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
      <button
        class="mobile-menu-close-button js-close-menu"
        type="button"
        data-modal-close
      >
        <svg
          class="mobile-close-icon"
          aria-label="mobile menu close icon"
          width="36"
          height="36"
        >
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>

        <svg
          class="tablet-close-icon"
          aria-label="mobile menu close icon"
          width="44"
          height="44"
        >
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <!-- Content -->
    <div class="mobile-menu-content">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link anchor-link" href="#about-us"
              >About us</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link anchor-link" href="#collection"
              >Our collection
            </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link anchor-link" href="#order"
              >Customer order</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link anchor-link" href="#testimonials"
              >Testimonials</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
