<!-- YOUR ORDER -->

<section class="order section">
  <div class="bg-img-wrapper"></div>
  <div class="container">
    <!-- ppp -->
    <div class="order-content-wrapper">
      <h2 id="order" class="order-text">
        <span class="mod-color-accent">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>

      <form class="order-form">
        <div class="form-field-wrapper">
          <label for="user-name" class="form-field-label">
            <input
              class="order-form-input"
              type="text"
              id="user-name"
              name="user-name"
              title="John"
              pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
              placeholder="Enter your full name"
              required
            />
          </label>
        </div>

        <div class="form-field-wrapper">
          <label for="user-email" class="form-field-label">
            <input
              class="order-form-input"
              type="email"
              id="user-email"
              name="user_email"
              placeholder="Enter your email"
              required
            />
          </label>
        </div>

        <div class="form-field-wrapper">
          <label for="user-comment" class="form-field-label">
            <textarea
              class="order-form-comment"
              name="user-comment"
              id="user-comment"
              placeholder="Comments"
            ></textarea>
          </label>
        </div>
        <button class="form-btn" type="submit">
          <span>Send</span>
          <svg class="form-btn-arrow" width="26" height="10" aria-label="arrow">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="order-img-wrapper">
      <img
        class="order-img"
        srcset="
          ./img/order/desctop-1440/order-content-img-desctop1440.jpg     524w,
          ./img/order/desctop-1440/order-content-img-desctop1440@2x.jpg 1048w,
          ./img/order/tablet/order-content-img-tablet.jpg                638w,
          ./img/order/tablet/order-content-img-tablet@2x.jpg            1276w
        "
        sizes="(min-width: 1280px) 524px, (min-width: 768px) 638px"
        src="./img/order/tablet/order-content-img-tablet.jpg"
        alt="order content image with vyshyvanka"
      />
    </div>
    <!-- ppp -->
  </div>
</section>
<a
  href="#header"
  class="scroll-up"
  id="scroll_up"
  title="Go to top"
  type="button"
>
  <svg class="scroll-up-arrow" width="50" height="50" aria-label="scroll-arrow">
    <use href="./img/sprite.svg#icon-arrow-up-circle"></use>
  </svg>
</a>
